/* Fuentes: 
Sí, una google api.
Sí, otra api más. */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --acent: #226666;
    --acentshadow: #0D4D4D;
    --acent2: #AA6C39;
    --acentshadow2: #804515;
    --acent3: #2D882D;
    --acentshadow3: #116611;
}


/* chicas, estos son los colores " principales " del diseño. El que esten en un root 
hace que sea más fácil su acceso después y no tengan que estar poniendo #zarasa */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #333;
    text-shadow: 2px, 2px, 0px, #000;
    text-align: center;
    font-size: 4rem;
    /* 4rem = 40px*/
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/2257904.png");
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*vh -> para que tome el tamaño de pantalla y lo ajuste*/
}


/* la lista  un poco más legible, despues hay que hacer bonita*/

p {
    color: #ddd;
    font-family: Arial;
    font-size: 13px;
}

ul {
    list-style: none;
    width: 400px;
}

ul li {
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
    font-family: "Patrick Hand";
}

ul li:nth-child(odd) {
    /* filas pares */
    background-color: #202020;
    opacity: 0.4;
}

ul li:nth-child(even) {
    /* filas impares */
    background-color: #2a2a2a;
    opacity: 0.4;
}

.card {
    background-color: #ddd;
    width: 600px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 4px #c0c0c0c0;
    &-header {
        width: 100%;
        display: block;
    }
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #707070c0;
        &-img {
            border: 5px solid #eaeaea;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: #ddd;
        }
        &-title {
            margin-top: 2rem;
            font-size: 1.8rem;
            span {
                color: var(--accent);
                font-weight: 400;
            }
        }
        &-text {
            color: var(--accent);
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }
    &-footer {
        display: flex;
        justify-content: space-around;
        &-cadena {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            p {
                letter-spacing: 1px;
            }
        }
    }
}